* {
    box-sizing: border-box;
  }
  
  :root {
    --primary: rgb(0, 48, 135);
    --secondary: rgb(124, 198, 242);
    --third: rgb(188, 185, 251);
    --dark: rgb(255, 182, 182);
    --light: rgb(187, 188, 188);
    --black: rgb(39, 36, 37);
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--black);
    background-color: var(--light);
    line-height: 1.5;
  }
  
  h1 {
    margin: 0;
  }

  
  

  header {
    padding: 15px 6% 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--primary);
    box-shadow: 0 5px 35px rgba(145, 250, 241, 0.4);
  }
 
header h1 {
  color: var(--black);
  background-color: var(--secondary);
  padding: 5px 2% 5px 3%;
  margin: 0;
  font-size: 3vw;
  line-height: 1;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

nav a {
  text-decoration: none;
  padding: 5px 10px;
  color: var(--secondary);
  margin-right: 15px;
  background-image: linear-gradient(270deg, var(--secondary) 0%, var(--secondary) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: top;
  transition: all 0.35s;
  font-size: 1.4rem;
}
nav a:hover {
  background-size: 100% 100%;
  color: var(--primary);
}